{% extends 'base.html.twig' %}

{% block title %}
Une erreur est survenue : {{ status_text }} - {{ parent() }}
{% endblock %}

{% block body %}
<h1>Il semblerait que quelque chose fonctionne mal</h1>
<h2>Une erreur est survenue : "{{ status_code }} {{ status_text }}".</h2>

<p>
    Votre demande ne peut aboutir. Pour revenir à la page d'acceuil, cliquez
    <a href="{{ path('homepage') }}">ici</a>
    Si le problème persiste, faites nous-en part en nous contactant <a href="{{ path('contact') }}">ici</a>
</p>
{% endblock %}