<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Roboto:100, 300,400,500,700,900"
          rel="stylesheet">
    <script src="https://use.fontawesome.com/70c9a54198.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
</head>
<body>
<header>
    {% include 'inc/nav.html.twig' %}
</header>

{% include 'inc/searchbar.html.twig' %}
<div class="overlay-search-navbar invisible"></div>
{% block body %}
{% endblock %}

<footer>
    {% include 'inc/footer.html.twig' %}
</footer>

{% block javascript %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ asset('js/bootstrap/ie10-viewport-bug-workaround.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}
</body>
</html>