<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Roboto:100, 300,400,500,700,900"
          rel="stylesheet">
    <script src="https://use.fontawesome.com/70c9a54198.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    {% block lightbox %}{% endblock %}

    <title>{% block title %}Nos amis les oiseaux{% endblock %}</title>
</head>
<body>
<header>
    {% include 'inc/nav.html.twig' %}
</header>

{% include 'inc/searchbar.html.twig' %}

<div class="message-flash">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>

{% block body %}
{% endblock %}

<footer>
    {% include 'inc/footer.html.twig' %}
</footer>

{% block javascript %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/bootstrap/jquery-slim.min.js') }}"><\/script>')</script>
    <script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>

    <!--  autocompletion -->
    <script src="{{ asset('js/typeahead/dist/typeahead.bundle.min.js') }}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4_tIO1vDypFjzVX1LnY6uuPjd5J6QcJo&callback=initAutocomplete">
    </script>
    <script type="text/javascript"> let locationsURL = "{{ path('locationsJson') }}"</script>
    <script src="{{ asset('js/search.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ asset('js/bootstrap/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        let pageObservation = false;
        let pageResults = false
    </script>

    {# Notifications #}
    {% if app.user.roles[0] == "ROLE_NATURALIST" or app.user.roles[0] == "ROLE_EDITOR" %}
        {% if app.user.roles[0] == "ROLE_NATURALIST" %}
        <script>
            let notifsObs = "{{ path('notifsObs', {'status': 'waiting', 'role': 'naturalist'}) }}";
        </script>
        {% endif %}

        {% if app.user.roles[0] == "ROLE_EDITOR" %}
        <script>
            let notifsObs = "{{ path('notifsObs', {'status': '1', 'role': 'editor'}) }}";
        </script>
        {% endif %}

        <script src="{{ asset('js/notifs.js') }}"></script>
    {% endif %}
{% endblock %}
</body>
</html>