{% extends 'base-admin.html.twig' %}

{% block title %}
    Gestion de la base de données - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid mt70 admin-box">
        <h1>Gestion de la base de données</h1>
        <div class="row">
            <div class="col-12">
            <h3>
                {% if lastUpdate.updateAt is not defined %}
                    La base de données n'est pas à jour
                {% else %}
                Dernière mise à jour le {{ lastUpdate.updateAt | localizeddate('medium', 'medium', '%locale%', 'Europe/Paris', 'd/M/Y - k:mm') }}
                {% endif %}
            </h3>
                <div class="col-12">
                    <p id="messageBdd" class="text-center">

                    </p>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="col-12">
                                {{ form_widget(form.csvFile) }}
                                {{ form_row(form.save, {'attr': {'class': 'btn btn-primary mt-3'}}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div id="img-loading">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        </div>
                    </div>

                    {% if fileBdd is not null %}
                        <a id="updateButton" class="btn btn-primary btn-sm mt-3" href="{{ path('updateBdd') }}">Mettre à jour</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/check-file-bdd.js') }}"></script>
{% endblock %}