{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

{{ form_row(form.lastName) }}
{{ form_row(form.firstName) }}
{{ form_row(form.username) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword) }}
{{ form_row(form.newsletter) }}
<div>
    <input class="btn btn-primary w-100" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}

