{# app/Resources/views/mail/observons-model.html.twig #}

 <h2>Contact</h2>


<h3>Prénom : {{ object.firstName }}</h3>
<h3>Nom : {{ object.lastName }}</h3>
<h3>E-mail : {{ object.email }}</h3>

<h3>Raison sociale : {{ object.businessName }}</h3>
<h3>Sujet : {{ object.subject }}</h3>


<h3>Message : </h3>
<p>
    {{ object.message }}
</p>

