{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block title %}
    Ajouter une observation - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form_observation) }}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <img id="add-observation-img" class="card-img-top mb-3" src="{{ asset('img/observations/' ~ image) }}" alt="">
                                {{ form_widget(form_observation.imageFile) }}
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form_row(form_observation.title) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(form_observation.bird) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">{{ form_row(form_observation.lng) }}</div>
                                    <div class="col-md-6 col-lg-4">{{ form_row(form_observation.lat) }}</div>
                                    <div class="col-md-12 col-lg-4 geoloc">
                                        <p>Me géolocaliser</p>
                                        <button id="geoloc-btn" class="btn btn-sm btn-info">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                {{ form_row(form_observation.observedAt) }}
                                {{ form_row(form_observation.description) }}
                                {{ form_row(form_observation.save) }}
                            </div>
                        </div>
                        {{ form_end(form_observation) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/add-observation-img.js') }}"></script>
{% endblock %}