{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block title %}
    Ajouter une observation - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>{{ title }} - <a href="#" class="text-secondary" data-toggle="modal" data-target="#infosModal"><i class="fa fa-info-circle" aria-hidden="true" title="Informations"></i></a></h1>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg fade" id="infosModal" tabindex="-1" role="dialog" aria-labelledby="infosModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="infosModalLabel">Comment proposer une observation correcte</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>1. Proposer une jolie photo au bon format</h5>
                        <p>Si possible, la photo doit être au format <strong title="Photo à l'horizontale">paysage</strong>, en <strong title="Pour réduire le poid de l'image">72ppp</strong> de résolution et faire minimum <strong title="Format d'affichage idéal">1920px</strong> de large.</p>
                        <p class="mb-0">
                            <a href="https://fr.wikipedia.org/wiki/Mode_paysage" target="_blank">Qu'est ce que le format paysage ?</a>
                        </p>
                        <p>
                            <a href="http://www.linternaute.com/hightech/guide-high-tech/1413176-comment-reduire-la-taille-et-le-poids-d-une-image/" target="_blank">Comment réduire la taille et le poids de son image ?</a>
                        </p>
                        <small>La photo est optionnelle, si vous n'en avez pas, une image par défaut remplacera la vôtre.</small>
                        <hr>
                        <h5>2. Le titre</h5>
                        <p class="mb-0">Le titre doit être court et explicite. Il n'est pas recommandé de mettre un titre trop long.</p>
                        <p><small>Vous êtes limité à 50 caractères.</small></p>
                        <hr>
                        <h5>3. Comment trouver les coordonnées de l'endroit où j'ai observé mon oiseau ?</h5>
                        <p>Il vous suffit de vous rendre sur <a href="https://www.coordonnees-gps.fr/" target="_blank">ce site</a> et d'entrer l'adresse du lieu de l'observation pour obtenir les coordonnées gps. Si vous entrez l'observation sur place, cliquez sur le bouton "Me géolocaliser"</p>
                        <hr>
                        <h5>4. Une description, pour quoi faire ?</h5>
                        <p>Profitez du champ de description pour expliquer l'histoire de cette observation, détailler cette rencontre entre vous et l'oiseau.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-white" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form_observation) }}
                        <div class="row">
                            <div class="col-md-6 col-12 mb-3">
                                <img id="add-observation-img" class="card-img-top mb-3" src="{{ asset('img/observations/' ~ image) }}" alt="">
                                {{ form_widget(form_observation.imageFile) }}
                                {{ form_errors(form_observation.imageFile) }}
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form_row(form_observation.title) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(form_observation.bird) }}
                                        {{ form_errors(form_observation.bird) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">{{ form_row(form_observation.lng) }}</div>
                                    <div class="col-md-6 col-lg-4">{{ form_row(form_observation.lat) }}</div>
                                    <div class="col-md-12 col-lg-4 geoloc">
                                        <p>Me géolocaliser</p>
                                        <button id="geoloc-btn" class="btn btn-sm btn-info">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="col-12 mb-3 mt-0">
                                        <small class="form-text text-muted mt-0">Pour trouver la latitude et longitude : <a href="https://www.coordonnees-gps.fr/" target="_blank">cliquez ici</a></small>
                                    </div>
                                </div>
                                {{ form_row(form_observation.city) }}
                                {{ form_errors(form_observation.city) }}

                                {{ form_row(form_observation.observedAt) }}
                                {{ form_errors(form_observation.observedAt) }}

                                {{ form_row(form_observation.description) }}
                                {{ form_errors(form_observation.description) }}

                                {{ form_row(form_observation.save) }}
                            </div>
                        </div>
                        {{ form_end(form_observation) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/add-observation-img.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4_tIO1vDypFjzVX1LnY6uuPjd5J6QcJo&callback=initMap">
    </script>
{% endblock %}