{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block title %}
    Ajouter une observation - {{ parent() }}
{% endblock %}
{% block chosen %}
    <link href="{{ asset('js/chosen/chosen.min.css') }}" rel="stylesheet">
    <style>
        .chosen-container-single .chosen-single {
            padding: .5rem .75rem;
            background: none;
            background-color: white !important;
            height: 2.3rem;
            line-height: 1.25;
            color: #495057;
            font-size: 1rem;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.25);
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .2rem;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt70">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form_observation) }}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <img id="add-observation-img" class="card-img-top mb-3" src="{{ asset('img/observations/' ~ image) }}" alt="">
                                {{ form_widget(form_observation.imageFile) }}
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form_row(form_observation.title) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(form_observation.bird, {'attr': {'class': 'chosen-bird'}}) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">{{ form_row(form_observation.lng) }}</div>
                                    <div class="col-md-6 col-lg-4">{{ form_row(form_observation.lat) }}</div>
                                    <div class="col-md-12 col-lg-4 geoloc">
                                        <p>Me géolocaliser</p>
                                        <button id="geoloc-btn" class="btn btn-sm btn-info">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                {{ form_row(form_observation.city) }}
                                {{ form_row(form_observation.observedAt) }}
                                {{ form_row(form_observation.description) }}
                                {{ form_row(form_observation.save) }}
                            </div>
                        </div>
                        {{ form_end(form_observation) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/add-observation-img.js') }}"></script>
    <script src="{{ asset('js/chosen/chosen.jquery.min.js') }}"></script>
    <script>
        $('.chosen-bird').chosen();
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4_tIO1vDypFjzVX1LnY6uuPjd5J6QcJo&callback=initMap">
    </script>
    <script>

    function initMap() {
        let geocoder = new google.maps.Geocoder;

        $('input').focusout( function() {
            let town;
            let lngField = parseFloat($('#appbundle_observation_lng').val());

            let latField = parseFloat($('#appbundle_observation_lat').val());

            geocoder.geocode(
                {'location': {lat: latField, lng: lngField} },
                function(results, status) {
                    if (status === 'OK') {
                        town = results[2].address_components[1].long_name;

                        $('#appbundle_observation_city').val(town);

                    } else {
                        console.log('La ville n\'a pas été récupérée : ' + status);

                    }
                }
            );
        });
    }
    </script>
{% endblock %}