{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
{% block style %}
<style>
.twitter-typeahead {
    width: 100%;
}

#home-search, #search-navbar-input {
    width: 100%;
}
.typeahead.tt-hint {
    width: 100%;
}


.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.places-title, .birds-title, .obs-title {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}
.places-title {
    color: #00a9c0;
}
.birds-title {
    color: #85b800;
}
.obs-title {
    color: #f90;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-selectable:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

</style>
{% endblock %}
    <div class="search-block d-flex align-items-center justify-content-center">
        <div class="container d-flex flex-wrap justify-content-center">
            <h1 class="display-3 text-white mb-3 text-center w-100">Observez</h1>
            <a href="#" class="btn btn-secondary text-white align-items-center d-md-block d-none">Proposer une observation</a>
            <button class="btn-floating d-md-none d-block">
                <i class="fa fa-binoculars" aria-hidden="true"></i>
            </button>
            <h1 class="display-3 text-white mb-3 mt-5 text-center w-100">Recherchez</h1>
            <button id="btn-search-cover" class="btn-floating d-md-none d-block">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            <form action="" class="w-100 d-none d-md-block">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon bg-transparent-7 d-sm-block d-none">
                            <select name="search-filter" id="search-filter-index" class="filter-search">
                                <option value="name">Tous</option>
                                <option value="species">Nom</option>
                                <option value="place">Lieu</option>
                            </select>
                        </div> 
                        <input type="text" class="form-control typeahead bg-transparent-5" id="home-search">
                        <button type="search" class="btn btn-sm btn-primary">Go</button>
                    </div>
                </div>
            </form>
            <p class="lead text-center text-light mt-3 mt-md-5">Nous lançons un programme de recherche visant à étudier les effets du climat, de l'urbanisation et de l'agriculture.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="d-flex flex-wrap justify-content-between mt-5 mb-3">
            <h2>Nos dernières observations</h2>
            <a href="{{ path('observations', { "page": 1 }) }}" class="btn btn-secondary btn-sm cta-small">Toutes les observations</a>
            <div class="row mt-4">
            {% for observation in observations %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card hoverable">
                        <div class="img-card-box">
                            <img class="card-img-top" src="{{ asset("img/observations/" ~ observation.imageName) }}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <a href="{{ path('showObservation', {'slug': observation.slug}) }}" class="btn-rounded bg-secondary float-right" data-toggle="tooltip" data-placement="left" title="Voir l'observation">+</a>
                            <div class="badge badge-primary">Nouveau</div>
                            <a href="{{ path('showObservation', {'slug': observation.slug}) }}">
                                <h4 class="card-title">{{ observation.title }}</h4>
                            </a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ observation.bird.species }}</h6>
                            <p class="card-text">{{ observation.description | truncate(160, true, '...') }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ observation.user.username }}</small>
                            <small class="text-muted float-right">{{ observation.observedAt | date("d F Y") }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-between mt-5 mb-3">
            <h2>Nos derniers articles du blog</h2>
            <a href="#" class="btn btn-nao-green btn-sm cta-small">Tout les articles</a>
            <div class="row mt-4">
                {% for article in articles %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card hoverable">
                        <div class="img-card-box">
                            <img class="card-img-top" src="{{ asset("img/" ~ article.imageName) }}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <div class="badge badge-primary">Nouveau</div>
                            <a href="#" class="btn-rounded bg-nao-green float-right" data-toggle="tooltip" data-placement="left" title="Lire la suite">+</a>
                            <a href="#">
                                <h4 class="card-title">{{ article.title }}</h4>
                            </a>
                            <p class="card-text">{{ article.content | truncate(160, true, '...') }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ article.user.lastName }}</small>
                            <small class="text-muted float-right">{{ article.createdAt | date("d F Y") }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/index.js') }}"></script>
     
{% endblock %}
