{% extends 'base.html.twig' %}

{% block title %}
    Les observations - {{ parent() }}
{% endblock %}

{% block body %}
{% block styles %}
<style>
#mapResults {
    width:  100%;
    height: 70vh;
}
</style>
{% endblock %}
    <div class="container mt70">
        <div class="d-flex flex-wrap justify-content-between mt-5 mb-3">
            <h1>{{ title }}</h1>
            <button id ="style-button" class="btn btn-sm btn-secondary text-white pull-right">Afficher la liste</button>
        </div>
        <p><span class="p-2 badge badge-primary">{{ observations|length }}</span> résultats pour votre recherche.</p>

        <div id="mapResults" class="style-results"></div>
        <div id="listResults" class="style-results" style="display:none">

        <div class="row mt-4">
            {% for observation in observations %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card hoverable">
                        <div class="img-card-box">
                            <img class="card-img-top" src="{{ asset("img/observations/" ~ observation.imageName) }}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <a href="{{ path('showObservation', {'slug': observation.slug}) }}" class="btn-rounded bg-secondary float-right" data-toggle="tooltip" data-placement="left" title="Voir l'observation">+</a>
                            <div class="badge badge-primary">Nouveau</div>
                            <a href="{{ path('showObservation', {'slug': observation.slug}) }}">
                                <h4 class="card-title">{{ observation.title }}</h4>
                            </a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ observation.bird.species }}</h6>
                            <p class="card-text">{{ observation.description | truncate(100, true, '...') }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ observation.user.lastName }}</small>
                            <small class="text-muted float-right">{{ observation.createdAt | date("d F Y") }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('results', {'page': page - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="page-item active light-blue lighten-2"{% endif %}>
                        <a class="page-link" href="{{ path('results', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
                {% if page != nbPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('results', {'page': page + 1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4_tIO1vDypFjzVX1LnY6uuPjd5J6QcJo&callback=initMap">
    </script>
    <script>
        $(document).ready( function() {
            var btnText = $('#style-button').text();
            $('#style-button').click( function() {
                $('.style-results').fadeToggle(300, "swing");
                $('#style-button').text() === "Afficher la map"? $('#style-button').text("Afficher la liste"): $('#style-button').text("Afficher la map");
            });
        });
    </script>

    <script>
        let map;
        center = {
            lat: 46.227638,
            lng: 2.213749000000007
        };

        function initMap() {
            var dayMapType = new google.maps.StyledMapType(
                [
                    {
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ebe3cd"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#523735"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#f5f1e6"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#c9b2a6"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#dcd2be"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#ae9e90"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.natural",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dfd2ae"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dfd2ae"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#93817c"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.business",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#a5b076"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#447530"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f5f1e6"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#fdfcf8"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f8c967"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#e9bc62"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway.controlled_access",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e98d58"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway.controlled_access",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#db8555"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#806b63"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dfd2ae"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#8f7d77"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#ebe3cd"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.station",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dfd2ae"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#b9d3c2"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#92998d"
                            }
                        ]
                    }
                ],
                {name: 'day Map'});


            map = new google.maps.Map(document.getElementById('mapResults'), {
                zoom: 6,
                center: center,
                mapTypeControlOptions: {
                    mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                        'day_map']
                }
            });

            map.mapTypes.set('day_map', dayMapType);
            map.setMapTypeId('day_map');

            let marker, infowindow;

            {% for observation in observations %}

            marker = new google.maps.Circle({
                center: {lat: {{ observation.lat }}, lng: {{ observation.lng }} },
                map: map,
                strokeColor: '#00a9c0',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#00a9c0',
                fillOpacity: 0.3,
                radius: 10000,
                clickable: true
            });



            infowindow = new google.maps.InfoWindow();


            google.maps.event.addListener(marker, 'click', (function(ev) {
                return function() {
                    infowindow.setContent(
                        {#"<a href='{{ path("showObservation", {"slug": observation.slug}) }}'>{{ observation.title }}</a>"#}

                        '<div class="card small">' +
                        '<div class="img-card-box">' +
                        '<img class="card-img-top" src="{{ asset("img/observations/" ~ observation.imageName) }}" alt="Card image cap">'+
                        '</div>' +
                        '<div class="card-body">' +
                        '<a href="{{ path("showObservation", {"slug": observation.slug}) }}" class="btn-rounded bg-secondary float-right" data-toggle="tooltip" data-placement="left" title="Voir l\'observation">+</a>' +
                        '<div class="badge badge-primary">Nouveau</div>' +
                        '<a href="{{ path("showObservation", {"slug": observation.slug}) }}">' +
                        '<h4 class="card-title">{{ observation.title }}</h4>'+
                        '</a>' +
                        '<h6 class="card-subtitle mb-2 text-muted">{{ observation.bird.species }}</h6>' +
                        '<p class="card-text">{{ observation.description | truncate(100, true, "...") }}</p>' +
                        '</div>' +
                        '<div class="card-footer">' +
                        '<small class="text-muted">{{ observation.user.lastName }}</small>' +
                        '<small class="text-muted float-right">{{ observation.createdAt | date("d F Y") }}</small>' +
                        '</div>' +
                        '</div>'
                    );
                    infowindow.setPosition(this.getCenter());
                    infowindow.open(map);
                    map.setCenter(marker.getCenter());
                }
            })(marker));

            {% endfor %}
        }
    </script>
{% endblock %}