<div class="container-fluid bg-primary text-white">
    <div class="container">
        <p class="text-center">Rejoignez-nous sur les réseaux sociaux</p>
        <div class="row pt-4 pb-4 justify-content-center">
            <span><a href="http://facebook.com"><i class="fa fa-facebook-square fa-2x mr-2" aria-hidden="true"></i></a></span>
            <span><a href="http://twitter.com"><i class="fa fa-twitter-square fa-2x mr-2" aria-hidden="true"></i></a></span>
            <span><a href="http://plus.google.com"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a></span>
        </div>
    </div>
</div>
<div class="container-fluid bg-nao-blue-darken text-white">
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-md-6">
                <h5>L'association</h5>
                <ul>
                    <li><a href="{{ path('who') }}">Qui sommes-nous ?</a></li>
                    <li><a href="{{ path('why') }}">Pourquoi ce site ?</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Plan du site</h5>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li><a href="{{ path('addObservation') }}">Ajouter une observation</a></li>
                            <li><a href="{{ path('observations') }}">Liste des Observations</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li><a href="#">S'inscrire</a></li>
                            <li><a href="#">Se connecter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">Association Nos Amis les Oiseaux - &copy; Copyright {{ 'now' | date('Y') }} - <a href="#">mentions légales</a></p>
    </div>
</div>
