{% set currentPath = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="{{ asset('img/logo-carre_BD.jpg') }}" alt="" class="d-inline-block align-top">
    </a>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a class="text-white d-md-none d-block user-icon" href="{{ path('board') }}" data-toggle="tooltip" data-placement="left" title="Allez à l'administration">
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
    {% else %}
        <a class="text-white d-md-none d-block user-icon" href="{{ path('fos_user_security_login') }}" data-toggle="tooltip" data-placement="left" title="Se connecter">
            <i class="fa fa-user-o" aria-hidden="true"></i>
        </a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-hover"><a class="nav-link {{ currentPath == "homepage" ? "active" }}" href="{{ path('homepage') }}">Accueil</a></li>
            <li class="nav-item nav-hover dropdown">
                <a class="nav-link dropdown-toggle {{ currentPath == "observations" or currentPath == "addObservation" ? "active" }}" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Observations</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ path('observations', {'page': 1}) }}">Les observations</a>
                    <a class="dropdown-item" href="{{ path('addObservation') }}">Ajouter une observation</a>
                </div>
            </li>
            {% if is_granted("ROLE_USER") %}
            <li class="nav-item nav-hover"><a class="nav-link" href="#">Activités du mois</a></li>
            {% endif %}
            <li class="nav-item nav-hover"><a class="nav-link {{ currentPath == "articles" ? "active" }}" href="{{ path('articles', {'page': 1}) }}">Blog</a></li>
            <li class="nav-item nav-hover"><a class="nav-link {{ currentPath == "contact" ? "active" }}" href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </div>
    <div class="navbar-social d-md-block d-none">
        <span><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-square fa-2x mr-2" aria-hidden="true"></i></a></span>
        <span><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter-square fa-2x mr-2" aria-hidden="true"></i></a></span>
        <span><a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a></span>
    </div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a id="search-navbar-btn" class="text-white mr-1 d-md-block d-none" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        <div class="nav-item dropdown user-dropdown d-md-block d-none">
            <a class="nav-link dropdown-toggle text-white d-md-block d-none align-self-center" href="#" id="dropNav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropNav">
                <a class="dropdown-item" href="{{ path('board') }}">Administration</a>
                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
            </div>
        </div>
    {% else %}
        <a id="search-navbar-btn" class="text-white mr-4 d-md-block d-none" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        <a class="text-white d-md-block d-none align-self-center" href="{{ path('fos_user_security_login') }}" data-toggle="tooltip" data-placement="left" title="Se connecter">
            <i class="fa fa-user-o" aria-hidden="true"></i>
        </a>
    {% endif %}
</nav>