<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="{{ asset('img/logo-carre_BD.jpg') }}" alt="" class="d-inline-block align-top">
    </a>
    <a class="text-white d-md-none d-block user-icon" href="#" data-toggle="tooltip" data-placement="left" title="Se connecter">
        <i class="fa fa-user-o" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link active" href="{{ path('homepage') }}">Accueil</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Observations</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ path('observations') }}">Les observations</a>
                    <a class="dropdown-item" href="{{ path('addObservation') }}">Ajouter une observation</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Activités du mois</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </div>
    <form id="searchbar-navbar" class="searchbar-desktop-navbar">
        <div class="input-group">
            <div class="input-group-addon bg-transparent-7 d-sm-block d-none">
                <select name="search-filter" id="search-filter" class="filter-search">
                    <option value="name">Tous</option>
                    <option value="species">Nom</option>
                    <option value="place">Lieu</option>
                </select>
            </div>
            <input id="search-navbar-input" class="form-control bg-transparent-5" type="text" placeholder="Rechercher..." aria-label="Rechercher">
        </div>
    </form>
    <a id="search-navbar-btn" class="text-white mr-4 d-md-block d-none" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
    <a class="text-white d-md-block d-none align-self-center" href="#" data-toggle="tooltip" data-placement="left" title="Se connecter">
        <i class="fa fa-user-o" aria-hidden="true"></i>
    </a>
</nav>